.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background: linear-gradient(to right, #f5f7fa, #c3cfe2);
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
  min-height: 100px; /* allows growth if absolutely needed */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

button {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  background-color: #ff595e;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 8px 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #ff7b80;
  transform: scale(1.05);
}

button:active {
  background-color: #e0484d;
  transform: scale(0.97);
}

.signature {
  font-family: 'Space Grotesk', sans-serif;
  font-size: .75rem;
  color: #2b2b2b;
  letter-spacing: .75px;
}

footer {
  margin-top: 5%;
  color: #2b2b2b;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
